Workouts {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    max-width: 60;
    padding: 1;
}

Menu {
    background: green;
}
#workout_list {
    align: center top;
}

AddWorkout {
    align: center middle;
    content-align: center top;
}

AddWorkout #add_workout_screen {
    align: center middle;
    width: 70%;
    height: 70%;
}

#newworkoutname {
    max_width: 40%;
    height: 3;
    offset-x: 70%;
}

ExerciseField {
    margin: 1 0;
    width: 80%;
}

#input_fields {
    offset-y: 1;
}

#exercises {
    align-horizontal: center;
}

#exercise_info {
    grid-size: 8 1;
    min-height: 3;
    height: auto;
}

#exercise_info #e_name {
    column-span: 3;
}

#exercise_info #e_cat {
    column-span: 3;
}

WOName {
    width: 25;
    height: 3;
    content-align: left middle;
}

#buttons{
    max-width: 33;
    dock: right;
}

#buttons #start {
    dock: left;
    background: $success;
}

#buttons #export{
    dock: right;
}